{% extends 'layout.html' %}

{% block content %}

<style>
    p {
        font-size: 18px;
    }
</style>

<h1>Zona de Ayuda</h1>

<p>
    Bienvenido a la zona de ayuda. Aquí encontrarás información sobre cómo ingresar la información necesaria para utilizar las funciones numéricas.
</p>

<h2>Formato de Funciones (Numpy)</h2>
<p>
    Las funciones se deben ingresar en formato compatible con Numpy. 
    <br>
    <br>
    Por ejemplo:
    <br>
    Para una función lineal: <code>"2*x + 3"</code>
    <br>
    Para una función trigonométrica: <code>"np.sin(x) + np.cos(x)"</code>
    <br>
    Para una función polinomial: <code>"x**2 - 4*x + 3"</code>
</p>

<h2>Formato de Matrices</h2>
<p>
    Las matrices se deben ingresar separando los elementos de cada fila con comas y las filas con punto y coma. 
    <br>
    <br>
    Por ejemplo:
    <br>
    Para una matriz 2x2: <code>"1,2;3,4"</code>
    <br>
    Para una matriz 3x3: <code>"1,2,3;4,5,6;7,8,9"</code>
</p>

<h2>Formato de Tolerancia</h2>
<p>
    La tolerancia se debe ingresar en forma decimal. 
    <br>
    <br>
    Por ejemplo:
    <br>
    Para una tolerancia de <code>1e-7</code>: <code>0.0000001</code>
    <br>
    Para una tolerancia de <code>1e-5</code>: <code>0.00001</code>
</p>

<h2>Geogebra</h2>
<p>
    Aqui puedes previsualizar tus funciones
    <br>
    Aunque para algunos métodos se motrará su respectiva gráfica al finalizar los cálculos
</p>
<div class="graficaContainer">
    <div id="ggb-element"></div>
</div>

<script src="https://www.geogebra.org/apps/deployggb.js"></script>
<script>
    var params = { "appName": "graphing", "width": 800, "height": 600, "showToolBar": true, "showAlgebraInput": true, "showMenuBar": true };
    var applet = new GGBApplet(params, true);
    window.addEventListener("load", function () {
        applet.inject('ggb-element');
    });
</script>

{% endblock %}
